//FIELD: RANGE: MODELS THAT REQUIRE IT: MODELS THAT REQUIRE FINITE VALUES:MODELS THAT RESPOND TO INUTE
//
//"NONE": no model requires this, check is
//"[ID_1],[ID_2],..."
//"ALL -[ID]"
//"ALL"

// METADATA / COORDINATES
LAT:[-90,90]:ALL:ALL:ALL
LON:[-180,180]:NONE:NONE:NONE
time:[-INF,INF]:ALL:ALL:ALL
EDC:[0,1]:ALL:ALL:ALL
DOY:[0,365.25]:ALL:ALL:ALL

// FORCING
T2M_MIN:[-80,80]:ALL:ALL:ALL
T2M_MAX:[-80,80]:ALL:ALL:ALL
SNOWFALL:[0,INF]:ALL:ALL:ALL
SSRD:[0,INF]:ALL:ALL:ALL
STRD:[0,INF]:ALL:ALL:ALL
SKT:[-80,80]:ALL:ALL:ALL
VPD:[0,INF]:ALL:ALL:ALL
TOTAL_PREC:[0,INF]:ALL:ALL:ALL
BURNED_AREA:[0,1]:ALL:ALL:ALL
CO2:[0,INF]:ALL:ALL:ALL
DISTURBANCE_FLUX:[-INF,INF]:1100:1100:ALL
YIELD:[0,INF]:NONE:NONE:ALL

// OBSERVATIONS & STATE VARIABLES
GPP:[0,INF]:NONE:NONE:ALL
LAI:[0,INF]:NONE:NONE:ALL
ABGB:[0,INF]:NONE:NONE:ALL
SCF:[0,1]:NONE:NONE:ALL
NBE:[-INF,INF]:NONE:NONE:ALL
H:[-INF,INF]:NONE:NONE:ALL
LE:[-INF,INF]:NONE:NONE:ALL

// POOLS & FLUXES
PEQ_iniSOM:[0,INF]:NONE:NONE:ALL
PEQ_CUE:[0,1]:NONE:NONE:ALL
